html, body {
  margin: 0;
  height: 100%;
}

.custom-game-btn {
  position: absolute;
  height: 40px;
  top: -25px;
  left: -100px;
  width: 100px;
  cursor: pointer;
  overflow: hidden;
}

.custom-game-btn:hover > .custom-game-btn-bg {
  -webkit-transform: scale(1.2);
          transform: scale(1.2);
}

.custom-game-btn-bg {
  -webkit-transition-duration: 0.2s;
          transition-duration: 0.2s;
  background-image: url("../img/gamebg2.jpg");
  background-size: cover;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  position: absolute;
}

.custom-game-btn-text {
  position: absolute;
  height: 100%;
  width: 100%;
  text-align: center;
  background: rgba(0, 0, 0, 0.3);
  top: 0;
  left: 0;
}

.custom-game-btn-text:hover > p {
  letter-spacing: 2px;
}

.custom-game-btn-text p {
  margin: 0;
  letter-spacing: 1px;
  text-transform: uppercase;
  color: #fff;
  font-weight: bold;
  -webkit-transition-duration: 0.2s;
          transition-duration: 0.2s;
  line-height: 45px;
}

.play-match-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  opacity: 0;
  height: 100%;
  width: 100%;
  background: rgba(0, 0, 0, 0.5);
  position: fixed;
  top: 0;
  left: 0;
  z-index: 20000;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.pm-main-window {
  border-radius: 10px;
  overflow: hidden;
  background: #2e3136;
  height: 90%;
  width: 80%;
  max-width: 1200px;
  max-height: 700px;
  position: relative;
  padding: 10px 15px;
}

.finding-match-window {
  border-radius: 10px;
  overflow: hidden;
  background: #2e3136;
  background-image: url("../img/backgroundfindingmatch.png");
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  width: 70%;
  max-width: 800px;
  position: relative;
  padding: 40px 50px;
  display: none;
  text-align: center;
}

.pm-main-window {
  overflow-y: auto;
}

.fade-out {
  -webkit-animation-name: fadeOut;
          animation-name: fadeOut;
  -webkit-animation-duration: 0.4s;
          animation-duration: 0.4s;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
  -webkit-animation-iteration-count: 1;
          animation-iteration-count: 1;
}

.fade-in {
  -webkit-animation-name: fadeIn;
          animation-name: fadeIn;
  -webkit-animation-duration: 0.4s;
          animation-duration: 0.4s;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
  -webkit-animation-iteration-count: 1;
          animation-iteration-count: 1;
}

.pm-main-window-content {
  text-align: center;
  position: relative;
  height: 100%;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.pm-nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 100%;
  margin-bottom: 40px;
}

.pm-nav p {
  text-transform: uppercase;
  letter-spacing: 1px;
  font-size: 15px;
  font-weight: 400;
  color: #fff !important;
}

.swiper-container {
  height: 430px;
  width: 100%;
  cursor: pointer;
}

.swiper-pagination {
  bottom: 0 !important;
}

.swiper-slide {
  border-bottom-left-radius: 3px;
  border-bottom-right-radius: 3px;
  -webkit-transition-duration: 0.2s;
          transition-duration: 0.2s;
  background: rgba(255, 255, 255, 0);
}

.swiper-slide .slide-game {
  -webkit-transition-duration: 0.2s;
          transition-duration: 0.2s;
}

.swiper-slide .slide-game .game-img, .swiper-slide .slide-game h3 {
  opacity: 0.3;
}

.swiper-slide .slide-game:before, .swiper-slide .slide-game:after {
  opacity: 0;
  -webkit-transition: 0.3s ease;
  transition: 0.3s ease;
}

.swiper-slide .slide-game:before {
  content: "";
  position: absolute;
  z-index: -1;
  -webkit-box-shadow: 0 2px 3px rgba(255, 255, 255, 0.5);
          box-shadow: 0 2px 3px rgba(255, 255, 255, 0.5);
  top: 50%;
  bottom: 0px;
  left: 5px;
  right: 5px;
  border-radius: 100px / 10px;
}

.swiper-slide .slide-game:hover:before, .swiper-slide .slide-game:hover:after {
  opacity: 1;
}

.swiper-slide .slide-game:hover:after {
  content: "";
  background: #2e3136;
  position: absolute;
  width: 12px;
  height: 12px;
  left: 50%;
  bottom: -6px;
  margin-left: -6px;
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
  -webkit-box-shadow: inset 3px 3px 3px rgba(22, 195, 255, 0.5), inset 1px 1px 1px rgba(0, 0, 0, 0.3);
          box-shadow: inset 3px 3px 3px rgba(22, 195, 255, 0.5), inset 1px 1px 1px rgba(0, 0, 0, 0.3);
  -webkit-box-shadow: inset 3px 3px 3px rgba(255, 255, 255, 0.2), inset 1px 1px 1px rgba(0, 0, 0, 0.3);
          box-shadow: inset 3px 3px 3px rgba(255, 255, 255, 0.2), inset 1px 1px 1px rgba(0, 0, 0, 0.3);
}

.swiper-slide .slide-game:hover:before {
  content: "";
  position: absolute;
  z-index: -1;
  -webkit-box-shadow: 0 2px 3px rgba(255, 255, 255, 0.5);
          box-shadow: 0 2px 3px rgba(255, 255, 255, 0.5);
  top: 50%;
  bottom: 0px;
  left: 5px;
  right: 5px;
  border-radius: 100px / 10px;
  -webkit-box-shadow: 0 2px 3px rgba(255, 255, 255, 0.2);
          box-shadow: 0 2px 3px rgba(255, 255, 255, 0.2);
}

.swiper-slide-show .versus-type-container {
  opacity: 1;
}

.swiper-slide-show .slide-game {
  -webkit-transition-duration: 0.2s;
          transition-duration: 0.2s;
}

.swiper-slide-show .slide-game .game-img, .swiper-slide-show .slide-game h3 {
  opacity: 1;
}

.swiper-slide-show .slide-game:before, .swiper-slide-show .slide-game:after {
  opacity: 1;
}

.swiper-slide-show .slide-game:focus {
  outline: none;
}

.swiper-slide-show .slide-game:before {
  content: "";
  position: absolute;
  z-index: -1;
  -webkit-box-shadow: 0 2px 3px rgba(255, 255, 255, 0.5);
          box-shadow: 0 2px 3px rgba(255, 255, 255, 0.5);
  top: 50%;
  bottom: 0px;
  left: 5px;
  right: 5px;
  border-radius: 100px / 10px;
}

.swiper-slide-show .slide-game:after {
  content: "";
  background: #2e3136;
  position: absolute;
  width: 12px;
  height: 12px;
  left: 50%;
  bottom: -6px;
  margin-left: -6px;
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
  -webkit-box-shadow: inset 3px 3px 3px rgba(255, 255, 255, 0.5), inset 1px 1px 1px rgba(0, 0, 0, 0.3);
          box-shadow: inset 3px 3px 3px rgba(255, 255, 255, 0.5), inset 1px 1px 1px rgba(0, 0, 0, 0.3);
}

.swiper-slide-show .slide-game:hover:before {
  content: "";
  position: absolute;
  z-index: -1;
  -webkit-box-shadow: 0 2px 3px rgba(255, 255, 255, 0.5);
          box-shadow: 0 2px 3px rgba(255, 255, 255, 0.5);
  top: 50%;
  bottom: 0px;
  left: 5px;
  right: 5px;
  border-radius: 100px / 10px;
}

.swiper-slide-show .slide-game:hover:after {
  content: "";
  background: #2e3136;
  position: absolute;
  width: 12px;
  height: 12px;
  left: 50%;
  bottom: -6px;
  margin-left: -6px;
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
  -webkit-box-shadow: inset 3px 3px 3px rgba(255, 255, 255, 0.5), inset 1px 1px 1px rgba(0, 0, 0, 0.3);
          box-shadow: inset 3px 3px 3px rgba(255, 255, 255, 0.5), inset 1px 1px 1px rgba(0, 0, 0, 0.3);
}

.slide-game {
  padding: 0 0 45px 0;
  background: #2e3136;
  border-bottom: 1px solid rgba(255, 255, 255, 0.3);
  position: relative;
}

.slide-game-inner {
  width: 190px;
  margin-left: auto;
  margin-right: auto;
}

.game-img {
  -webkit-transition-duration: 0.2s;
          transition-duration: 0.2s;
  width: 180px;
  max-width: 180px;
}

.game-title {
  font-size: 18px;
  font-weight: bold;
  text-transform: capitalize;
  text-align: center;
  color: #fff;
  text-shadow: 4px 2px 5px black;
  margin-top: 15px;
  margin-bottom: 0;
}

.confirm-btn, .cancel-btn {
  padding: 3px 40px;
  color: #fff;
  font-size: 16px;
  text-transform: capitalize;
  display: inline-block;
  cursor: pointer;
}

.confirm-btn {
  background: #00b400;
}

.cancel-btn {
  background: #ff3434;
}

.game-confirm-btn-container {
  width: 170px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
}

.game-confirm-btn {
  width: 170px;
  height: 30px;
  line-height: 30px;
  background: #00b400;
  color: #fff;
  font-size: 20px;
  text-transform: capitalize;
  display: block;
  cursor: pointer;
}

.game-confirm-btn-grey {
  cursor: default;
  color: #fff;
  background: #444;
}

.versus-type-container {
  -webkit-transition-duration: 0.2s;
          transition-duration: 0.2s;
  display: block;
  border-radius: 3px;
  padding: 0px 0;
  width: 180px;
  margin: 50px auto 50px auto;
  opacity: 0;
}

.swiper-button-next, .swiper-button-prev {
  color: #fff;
  top: 20%;
}

.swiper-button-next:focus, .swiper-button-prev:focus {
  outline: none;
}

.versus-type {
  padding: 8px 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  cursor: pointer;
  -webkit-transition-duration: 0.2s;
          transition-duration: 0.2s;
  opacity: 0.7;
}

.versus-type:hover {
  opacity: 1;
}

.versus-type span {
  color: #fff;
  font-size: 18px;
  font-weight: 400;
}

.versus-type-selected {
  opacity: 1;
}

.versus-type-selected .versus-square div {
  background: #fff;
}

.versus-square {
  height: 17px;
  width: 17px;
  position: relative;
  border: 2px solid #fff;
  margin-right: 20px;
}

.versus-square div {
  -webkit-transition-duration: 0.2s;
          transition-duration: 0.2s;
  height: 55%;
  width: 55%;
  background: transparent;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

.fm-btn {
  height: 40px;
  line-height: 40px;
  width: 220px;
  background-repeat: no-repeat;
  background-size: contain;
  font-size: 20px;
  color: #fff;
  text-align: center;
  cursor: pointer;
  text-transform: uppercase;
  font-weight: bold;
}

.finding-match-avatar {
  text-align: center;
  margin-bottom: 40px;
}

.finding-match-avatar p {
  margin: 10px 0 0 0;
  font-size: 20px;
  color: #fff;
}

.finding-match-avatar img {
  border-radius: 50%;
  max-width: 100px;
}

.fm-title {
  width: 100%;
  font-size: 35px;
  font-weight: 400;
  text-transform: uppercase;
  color: #fff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-bottom: 40px;
}

.fm-finding-timer {
  font-size: 30px;
  font-weight: bold;
  text-transform: uppercase;
  color: #fff;
  text-align: center;
  width: 100%;
  margin-bottom: 40px;
}

.match-found-container {
  z-index: 2;
  display: none;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background: rgba(0, 0, 0, 0.4);
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  position: absolute;
}

.match-found {
  width: 80%;
  max-width: 400px;
  background: #222428;
  padding: 20px 0 20px 0;
  text-align: center;
  -webkit-box-shadow: 5px 5px 0 0 black;
          box-shadow: 5px 5px 0 0 black;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.match-found h2 {
  font-weight: 400;
  padding: 0 0 20px 0;
  font-size: 25px;
  width: 100%;
  text-transform: uppercase;
  color: #fff;
  border-bottom: 1px solid rgba(255, 255, 255, 0.479);
}

.match-found-btns {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 100%;
  padding: 0 15px;
}

.match-found-timer {
  margin: 20px 0;
}

.match-found-timer #ct-circle-container {
  height: 40px;
  width: 40px;
}

.match-found-timer #ct-circle-container svg circle {
  stroke: #fff;
}

#fm-blinking {
  -ms-flex-preferred-size: 30px;
      flex-basis: 30px;
  width: 30px;
  text-align: left;
}

.fm-found {
  display: none;
}

.close-match-window {
  cursor: pointer;
  font-size: 20px;
  color: #fff;
}

@-webkit-keyframes fadeOut {
  from {
    -webkit-transform: scale(1);
            transform: scale(1);
    opacity: 1;
  }
  to {
    -webkit-transform: scale(1.1);
            transform: scale(1.1);
    opacity: 0;
  }
}

@keyframes fadeOut {
  from {
    -webkit-transform: scale(1);
            transform: scale(1);
    opacity: 1;
  }
  to {
    -webkit-transform: scale(1.1);
            transform: scale(1.1);
    opacity: 0;
  }
}

@-webkit-keyframes fadeIn {
  from {
    -webkit-transform: scale(0.9);
            transform: scale(0.9);
    opacity: 0;
  }
  to {
    -webkit-transform: scale(1);
            transform: scale(1);
    opacity: 1;
  }
}

@keyframes fadeIn {
  from {
    -webkit-transform: scale(0.9);
            transform: scale(0.9);
    opacity: 0;
  }
  to {
    -webkit-transform: scale(1);
            transform: scale(1);
    opacity: 1;
  }
}

@media screen and (max-height: 414px) {
  .pm-main-window-content {
    display: block;
  }
  .game-confirm-btn-container {
    width: 100%;
    margin: 10px 0;
  }
  .game-confirm-btn {
    margin: auto;
  }
}

@media screen and (max-width: 514px) {
  .match-found h2 {
    font-size: 20px;
  }
  .match-found-timer #ct-circle-container {
    height: 35px;
    width: 35px;
  }
  .match-found-timer {
    margin: 15px 0;
  }
  .confirm-btn, .cancel-btn {
    padding: 2px 30px;
  }
  .pm-nav {
    margin-bottom: 5px;
  }
  .pm-nav p {
    font-size: 13px;
  }
  .close-match-window {
    font-size: 16px;
  }
  .game-img {
    max-width: 175px;
    width: 175px;
  }
  .slide-game-inner {
    width: 175px;
  }
  .versus-type-container {
    margin: 20px auto 0 auto;
  }
  .game-confirm-btn-container {
    width: 110px;
  }
  .game-confirm-btn {
    font-size: 16px;
    height: 45px;
    width: 110px;
    line-height: 45px;
  }
  .versus-type span {
    font-size: 22px;
  }
}

@media screen and (max-width: 920px) {
  .pm-main-window, .finding-match-window {
    padding: 10px;
    height: 100%;
    width: 100%;
    border-radius: 0;
    max-height: 100%;
    max-width: 100%;
  }
}

@media screen and (max-width: 800px) {
  .versus-type-container {
    width: 90%;
  }
  .fm-title {
    font-size: 30px;
  }
  .fm-finding-timer {
    font-size: 25px;
  }
  .finding-match-avatar p {
    font-size: 15px;
  }
  .fm-btn {
    height: 30px;
    line-height: 30px;
    font-size: 20px;
    width: 165px;
  }
}

@media screen and (max-width: 600px) {
  .match-found {
    width: 90%;
  }
  .close-find-match {
    right: 10px;
  }
}

#header .navbar-right .dropdown-menu {
  top: 53px;
}

@media (max-width: 992px) {
  #header .navbar-right .dropdown-menu {
    top: 100%;
  }
}

@media (max-width: 441px) {
  #header .navbar-right .dropdown-menu {
    top: 53px;
  }
}

@media screen and (max-width: 440px) {
  .custom-game-btn-text {
    font-size: 10px;
  }
  .custom-game-btn-text p {
    line-height: 30px;
  }
  .custom-game-btn {
    height: 30px;
    width: 50px;
    left: -50px;
    top: -21px;
  }
  .navbar-toggle {
    font-size: 20px;
  }
  .navbar-toggle:hover {
    font-size: 20px;
  }
  #header .nav.navbar-right > ul > li > a {
    padding: 0 10px;
  }
}
/*# sourceMappingURL=play.css.map */